@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif !important;
  line-height: 1 !important;
  font-size: 16px !important;
  color: #272727 !important;
  list-style: none;
}
thead.ant-table-thead {
  height: 30px;
}
.ant-card-head {
  padding: 20px 0;
}
button.ant-btn.ant-btn-primary {
  color: #fff;
  border-color: #13c2c2;
  background: #13c2c2;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);

}
.ant-row.ant-row-center {
  justify-content: center;
}
.ant-row.ant-form-item.ant-form-item-has-success {
  padding: 5px 0;
  display: block;
}
button.ant-btn.ant-btn-default {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 35px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0,0,0,.85);
  border: 1px solid #d9d9d9;
  background: #fff;
}

.ant-col.ant-form-item-label {
  padding: 10px 0;
}
.ant-card .ant-card-body .ant-row{
  flex-direction: row;
}
button.ant-btn.ant-btn-icon-only {
  font-weight: 500;
  padding: 10px;
  background-color: transparent;
  border: 1px solid tan;
  border-radius: 50%;
    
}
input.ant-input {
  padding: 10px;
}
.ant-card-body .ant-row{
  display: flex;
  flex-direction: column;
}
.ant-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ant-tabs-nav-list {
  position: relative;
  display: inline-block;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0);
}
.ant-tabs-tab-btn span{
  padding: 10px;
}
ul {
  list-style: none;
}
button.ant-btn.ant-btn-default.ant-btn-lg.ant-btn-dangerous {
  color: #ff4d4f;
  border-color: #ff4d4f;
  background: #fff;
  padding: 10px;
}
button.ant-btn.ant-btn-primary.ant-btn-lg{
  color: #fff;
  border-color: #13c2c2;
  border: navajowhite;
  background: #13c2c2;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);

}
.ant-steps.ant-steps-horizontal.ant-steps-label-horizontal {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
img {
  max-width: 100%;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  margin: 3px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid transparent;

  background-clip: content-box;
  background-color: #909090;
  background-clip: content-box;
}

.ant-drawer-body .user-mobile .avatar-mobile {
  width: 100%;
  padding-bottom: 15px;
  cursor: pointer;
}

.ant-drawer-body .user-mobile .btn-login {
  margin-bottom: 15px;
}

.ant-drawer-body ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
  list-style: none;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.ant-drawer-body ul li span {
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  cursor: pointer;
  font-weight: 600;
}

.ant-notification-topRight {
  top: 60px !important;
}

.list-info {
  position: relative;
  max-width: 100%;
  /* Hoặc bất kỳ kích thước cố định nào bạn muốn */
  word-wrap: break-word;
}

.description-text {
  white-space: pre-wrap;
  /* Giữ định dạng xuống dòng và ngắt từ */
  overflow-wrap: break-word;
  /* Ngắt từ để phù hợp với kích thước */
  text-indent: 1.5em;
  /* Thụt đầu dòng */
}

.description-text p {
  margin-bottom: 1em;
  /* Khoảng cách giữa các đoạn */
}

.description-text .line-break {
  display: block;
  /* Hiển thị dấu chấm như một phần tử riêng biệt */
  margin-bottom: 1em;
  /* Khoảng cách thêm cho dấu chấm */
}
